* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #1f2937;
  padding: 20px;
  display: flex;
  justify-content: center;
}

header a,
a:hover,
a:visited,
.secondary-text {
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 300;
  font-size: 18px;
}

.link-section a {
  padding: 10px;
}

.header-container {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.first-section {
  width: 100%;
  background-color: #1f2937;
}

.left-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.hero-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hero-container a {
  background-color: #3882f6;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px;
  border: 5px;
}

.image-container {
  background-color: gray;
  width: 300px;
  height: 150px;
}

.random-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.random-section h2 {
  font-size: 36px;
  color: #1f2937;
}

.random-container {
  padding: 20px;
  width: 900px;
  display: flex;
  justify-content: center;
}

.cards-section {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  border: 2px solid #3882f6;
  border-radius: 0.5rem;
}

.quote-section {
  padding: 20px;
  background-color: #e5e7eb;
  width: 100%;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 200px;
}
